.header_container {
	padding: 2vh;
	background-color: #232940;
	font-size: 20px;
	display: flex;
	gap: 30px;
	cursor: pointer;
	justify-content: space-between;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	transition: 0.5s ease-in-out;
	position: sticky;
	top: 0;
	color: white;
	margin-bottom: 50px;
	z-index: 9999;
}
.elements_section {
	display: flex;
	gap: 30px;
}
a {
	color: white;
}
